.split {
    height: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: start;
}

.bulb-list {
    height: 100%;
    padding: 10px;
}

.bulb-card {
    width: 400px;
}