.split {
    height: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: start;
}

.bulb-list {
    height: 100%;
    margin: 10px;
    display: flex;
    flex-direction: column;
    column-gap: 2em;
}

.bulb-card {
    width: 400px;
}