.split {
    height: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: start;
}

.sensor-list {
    height: 100%;
    padding: 10px;
}

.sensor-card {
    width: 250px;
}