.text-container {
    position: relative;
    top: 60px;
    left: 100px;
    width: 600px;
}

.title {
    font-size: 48px;
}

.description {
    font-size: 20px;
    text-align: justify;
}
