.split {
    height: 50vh !important;
    display: flex;
    flex-direction: row;
    justify-content: start;
    align-items: flex-start;
    margin: 20px;
}

.sensor-list {
    height: 100%;
    padding: 10px;
}

.sensor-card {
    width: 250px;
}

.chart {
    width: 100%;
    @apply border-primary;
    border-radius: 5px;
    border-width: 2px;
}

.overview-item
{
    margin: 10px;
    font-size: 20px;
}

.overview-item-value
{
    font-weight: 300px;
    @apply text-primary;
}